/* add.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(add.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    min-width: 500px;
    padding: 40px 10% 4px 10%; 
    background-color: #a8a9ad;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #111;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-gap: 20px;
}

label {
    max-width: 100%;
    font-size: 18px;
    color: #222;
    text-align: left;
}

input,
textarea {
    width: 100%;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}


button {
    background-color: #767676;
    color: #fff;
    padding: 16px;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
}

/* Additional Styles */
form {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

/* Responsive Styling */
@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    input,
    textarea {
        font-size: 14px;
        padding: 14px;
    }

    button {
        font-size: 16px;
        padding: 16px; }
}