/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
}

.container {
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    background-color: #8d8c8f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #222;
    align-items: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

input {
    padding: 12px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #888888;
}

button {
    background-color: #767676;
    color: #fff;
    padding: 12px; 
    margin-bottom: 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}