
body {
    font-family: Arial, sans-serif;
    background-image: url("login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: #8d8c8f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

input {
    padding: 12px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

button {
    background-color: #767676;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
}